body{
		background-color: gray;
	}
	.topBar{
		position: fixed;
		top: 0px;
		left: 0px;
		height: 30px;
		width: 4000px;
		background-color: black;
	}
	.button1{
		margin: 0 auto;
		display: block;
		background-color: gray;
		border: none;
		padding: 5px 10px;
		color: white;
		font-size: 16px;
		font-weight: bold;
		font-family: Times;
		z-index: 1;
	}
	.button1:hover{
		color: red;
	}
	.button2{
		background-color: black;
		border: none;
		padding: 5px 20px;
		color: white;
		font-weight: bold;
		font-size: 12px;
		font-family: Times;
		z-index: 1;
	}
	.button2:hover{
		color: red;
	}
	.divideLine {
		width: 200px;
		height: 2px;
		background-color: white;
	}
	.linkColumn{
		position: fixed;
		left: 20px;
		top: 40px;
		width: 200px;
		height: 690px;
		border: 5px outset white;
		background-color: gray;
		text-align: Center;
	}
	.adColumn{
		position: fixed;
		right: 20px;
		top: 40px;
		width: 200px;
		height: 690px;
		border: 5px outset white;
		background-color: gray;
	}
	.logoHold{
		position: fixed;
		top: 200px;
		left: 440px;
		right: 440px;
		height: 200px;
		display: flex;
		justify-content: center;
		align-items: center;
		overflow: hidden;
	}
	.logoHold img{
		flex-shrink: 0;
		min-height: 100%;
		min-width: 100%;
	}
	.everythingElse{
		border: none;
		position: fixed;
		left: 240px;
		right: 240px;
		top: 40px;
		height: 690px;
		text-align: center;
	}
	.textStorage{
		border: none;
		position: fixed;
		left: 280px;
		right: 280px;
		top: 120px;
		bottom: 40px;
		background-color: white;
		color: black;
		overflow: hidden;
	}